* {
  font-family: 'PT Serif', serif;
}

.header {
  text-align: center;
  margin-top: 40px;
}

.large-text {
  font-size: 60px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.box {
  border: 2px solid #000!important;
  width: 70%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#toc_container {
  background: #f9f9f9;
  border: 1px solid #aaa;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 95%;
  width: 70%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.toc_title {
  width: 70%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}

#toc_container li, #toc_container ul, #toc_container ul li {
  list-style: outside none none !important;
}

.toc_list {
  vertical-align: top;
  margin: 15px;
  padding-left: 0;
}

.toc_list > li {
  margin-bottom: 5px;
}

.tab {
  margin-left: 15px;
}

.footer_text {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.word_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.word_group {
  display: block;
  margin-right: 10px;
  width: auto;
}

.small-box {
  border: 2px solid #000!important;
  width: 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  display: inline;
}

footer {
  border-top: 1px solid grey;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-top: 15px;
}

.centered-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  width: 50%;
  max-width: 500px;
}

.centered-img-vert {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
  max-width: 60%;
  max-height: 350px;
}

.inline-img {
  margin-right: 20px;
  margin-left: 50px;
}

.section_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.text_body {
  width: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}

.page_title {
  margin: auto;
  margin-top: 20px;
  margin-bottom: -10px;
  max-width: 65%;
}

.small-text {
  font-size: 16px;
  font-weight: 500;
  display: inline;
}

.bottom_nav {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.left {
  float: left;
  margin-left: 8%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.right {
  float: right;
  margin-right: 8%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.top-spacing {
  margin-top: 50px;
}

@media screen and (max-width: 772px) {
  .section_header {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    margin-top: 40px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .section_header a {
    margin-bottom: 10px;
  }
  .left {
    float: left;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 900px) {
  .text_body {
    width: 100%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
  }
  .page_title {
    max-width: 75%;
  }
}

@media screen and (max-width: 640px) {
  .text_body {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  .page_title {
    font-size: 20px;
    max-width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .left {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .right {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .text_body {
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .page_title {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
    margin: auto;
  }
}

/*------------------------ SCROLLING SIDEBAR ------------------------*/

/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 3. ScrollSpy active styles */
.section-nav li.active > a {
  color: #333;
  font-weight: 400;
}

/* Sidebar Navigation */
.section-nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}

/** Poor man's reset **/
* {
  box-sizing: border-box;
}

.scroll_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scroll_item {
  margin-left: 1rem;
}

.scroll_title {
  font-size: 30px;
  font-weight: 500;
}

/** page layout **/
main {
  display: grid;
  grid-template-columns: 1fr 17em;
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
}

section {
  margin-left: 15px;
  margin-right: 25px;
  padding-bottom: 10rem;
}

:lang(ja-jp) {
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.paragraph1 {
  /* add stuff here */
}

.scroll_subtitle {
  font-size: 25px;
  font-weight: 600;
}

.scroll_subtitle_jap {
  padding-left: 5px;
  padding-right: 5px;
}

.scroll_dates {
  font-size: 20px;
  font-weight: 500;
}

.scroll_poem {
  width: 70%;
  margin: 0 auto;
}

.poem_line {
  font-size: 20px;
  font-weight: 600;
  vertical-align: bottom;
}

.scroll_mid_section {
  margin-top: 15px;
}

.poem_image {
  max-width: 250px;
}

.scroll_annotation {
  margin-left: 15px;
  padding-left: 15px ;
  text-indent: -15px ;
  vertical-align: top;
}

.commentary {
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
}

.scroll_bold {
  font-weight: 600;
  font-size: 18px;
}

/*------------------------ SCROLLING SIDEBAR ------------------------*/
